@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Metal+Mania';
@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: none !important;
}
a, a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}
body {
    background-color: #f5f5f5;
    font-family: 'Amaranth', sans-serif;
    font-size:14px;
    color: #566057;
}
li {
    list-style: none;
}
/*=========================================*/
/* index  */
/*=========================================*/


.container {
    width: 100%;
    margin: 300px auto;
    padding: 0;
    
}

#content {
    width: 210mm;
    height: 297mm;
    background-color: #fff;
    margin: 0.5in auto;
    padding: 5mm;
    overflow: hidden;
}

#content .img-responsive {
    display: inline-block;
}

#content .mainheading {
        text-transform: uppercase;
        font-size: 50px;
	color: #123675;
}

#content .table-outline {
    border: 1px solid #ccc;
}

#content .docheading {
    margin-bottom: 30px;
}

#content .signature {
    margin-top: 30px;
    height: 60px;
}

#content .qrcode {
    margin-top: 30px;
}

#content .qrcode img {
    width: 1.5in;
}

#content .verify {
    margin-top: -10px;
}


@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }
    body {
        background-color: #fff;
    }
    .container, .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #content {
        margin: auto;
    }
}