@charset "utf-8";
/* CSS Document */

/*@import 'https://fonts.googleapis.com/css?family=Yeseva+One';*/
/*@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: none !important;
}
a, a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}
body {
    background-color: #f5f5f5;
    font-family: sans-serif;
    font-size:16px;
    color: #566057;
}
li {
    list-style: none;
}
/*=========================================*/
/* index  */
/*=========================================*/
.container {
    width: 90%;
    margin: 100px auto;
    padding: 0;

}

#content {
    width: 210mm;
    height: 297mm;
    background-color: #fff;
    margin: 0.5in auto;
    padding: 5mm;
    overflow: hidden;
}
#content  .subhead {
    float: left;
    margin-top: 8%;
}
#content .img-responsive {
    display: inline-block;
}

#content .mainheading {
    /*font-family: 'Yeseva One', cursive;*/
    color: #000;
    text-decoration:underline;
    margin-bottom: 3%;
}

#content p.box {
    /*box-sizing: border-box;*/
    padding: 9px;    
    border: 1px solid #566057;
}

#content span.data {
    color: #000;
    margin-left: 0.5em;
    text-transform: uppercase;
}

#content .table-outline {
    border: 1px solid #ccc;
}

#content .qrcode img {
    width: 1.5in;
}

#content .verify {
    margin-top: -7px;
}

#contnent .arabic {
    direction: rtl;
    font-size: 140%;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }
    body {
        background-color: #fff;
    }
    .container, .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #content {
        margin: auto;
    }
}
