@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Metal+Mania';
@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: none !important;
}
a, a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}
body {
    background-color: #f5f5f5;
    font-family: 'Amaranth', sans-serif;
    font-size:14px;
    color: #566057;
}
li {
    list-style: none;
}
/*=========================================*/
/* index  */
/*=========================================*/

.container {
    width: 100%;
    margin: auto;
    padding: 0;
    
}

#content {
    width: 10.5in;
    height: 7.5in;
    background-color: #fff;
    margin: 0.5in auto;
    padding: 0.3in;
    overflow: hidden;
}

#border {
    border: 2px solid #000062;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    margin: auto;
    width: 80%;
    display: block;
}

#mainlogo {
    margin-bottom: 20px;
    margin-top: -140px;
}

#content .img-responsive {
    display: inline-block;
}

#content .signature {
    margin-top: 0.3in;
    height: 0.8in;
}

#contnent .signature img {
    height: 0.8in;
}

#content .qrcode img {
    width: 1.5in;
}

#content .seal img {
    width: 70%;
}

.std-detail .name {
    font-size: 26px;
    font-family: 'Metal Mania', cursive;
}
.std-detail .dname {
    font-size: 22px;
    font-family: 'Metal Mania', cursive
}
.std-detail p {
    font-size: 16px;
}
.date {
    font-size: 16px;
}

#content .verify {
    margin-top: -10px;
}

@media print {
    @page {
        size: 10.5in 7.5in;
        margin: 0;
    }
    body {
        background-color: #fff;
    }
    .container, .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #content {
        margin: auto;
    }
}