@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Metal+Mania';
@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus {
	outline: none !important;
}
a, a:hover, a:focus {
	text-decoration: none !important;
	outline: none !important;
	color: inherit;
}
.h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h6 {
	font-family: 'Metal Mania', cursive !important
}
p {
	font-family: 'Amaranth', sans-serif;
}
body {
	background-color: #f5f5f5 !important;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Amaranth', sans-serif !important;
}
li {
	list-style: none;
}
/*=========================================*/
/* index  */
/*=========================================*/

/*transcript*/
.mainheading {
	font-family: 'Metal Mania', cursive !important;
	margin-bottom: 10%;
}
.mainheading h1 {
	font-size: 60px !important;
	color: #123675;
}
.mainlogo .logoimg {
	width: 50%;
	margin-top:8%;
}
.trans-detail {
	color: #566057;
	text-align: center;
}
.trans-detail .ac-in {
    margin-bottom: 2%;
}
.trans-detail p {
	font-family: 'Amaranth', sans-serif !important;
}
.trans-detail .name {
	font-size: 26px;
	font-family: 'Metal Mania', cursive;
}
.trans-detail .dname {
	font-size: 22px;
	font-family: 'Metal Mania', cursive
}
.trans-detail p {
	font-size: 16px;
}
.p-table {
    margin-top: 4%;
}
.qr-img{
	margin-top:3%;}
.footer {
	margin-top: 3%;
	color: #566057;
}
.footer p{
	font-family: 'Amaranth', sans-serif;
 font-size:14px;}
.footer img.dstemp {
	width: 40%;
}
.footer img.vc {
	width: 40%;
}
.footer img.chan {
	width: 40%;
}
.footer .qrimg {
	/*width: 40%;*/
}

