/*style-print*/
@import 'https://fonts.googleapis.com/css?family=Metal+Mania';
@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';

@media print {
@page {
	size: A4;
	margin: 3pt;
}
}
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.noprint {
	display: none;
}
h1 {
	text-align: center;
}
/*transcript*/
.mainheading {
	font-family: 'Metal Mania', cursive !important;
	text-align: center;
}
.mainheading h1 {
	font-size: 60px !important;
	color: #123675;
}
.mainlogo {
}
.mainlogo .logoimg {
	width: 20%;
	float: left;
}
.trans-detail {
	color: #566057;
	text-align: center;
}
.trans-detail .ac-in {
	float: left;
	width: 30%;
	margin-bottom: 3%;
}
.trans-detail p {
	font-family: 'Amaranth', sans-serif !important;
}
.trans-detail .name {
	font-size: 26px;
	font-family: 'Metal Mania', cursive;
}
.trans-detail .dname {
	font-size: 22px;
	font-family: 'Metal Mania', cursive;
}
.trans-detail p {
	font-size: 16px;
}
.p-table {
	margin-top: 6%;
	margin-bottom: 4%;
}
table {
/* border-collapse: collapse;*/
}
table td, table th {
	border: 1px solid black;
}
 @media print {
table td, table th {
}
.footer p {
	font-family: 'Amaranth', sans-serif;
	color: #566057;
}
.footer .col-print-3 {
	width: 25%;
	float: left;
	text-align: center;
}
.footer img.vc {
	height: 70%;
	width: 70%;
}
.footer img.chan {
	height: 70%;
	width: 70%;
}
.footer .qrimg {
	/*height: 80%;
	width: 80%;
	margin-top: 10%;*/
}
.footer .qr-img{
	margin-top:2%;
	margin-right:2%;
	float:right;
	}
div#example_length {
	display: none;
}
div#example_filter {
	display: none;
}
div#example_info {
	display: none;
}
div#example_paginate {
	display: none;
}
