@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Yeseva+One';
@import 'https://fonts.googleapis.com/css?family=Amaranth:400,700';

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus {
	outline: none !important;
}
a, a:hover, a:focus {
	text-decoration: none !important;
	outline: none !important;
	color: inherit;
}
body {
	 background-color: #f5f5f5;
    font-family: 'Amaranth', sans-serif;
    font-size:14px;
    color: #566057;
}
li {
	list-style: none;
}
/*=========================================*/
/* index  */
/*=========================================*/
.container {
    width: 100%;
    margin: 200px auto;
    padding: 0;
    
}

#content {
    width: 210mm;
    height: 297mm;
    background-color: #fff;
    margin: 0.5in auto;
    padding: 5mm;
    overflow: hidden;
}
#content .img-responsive {
    display: inline-block;
}

#content .mainheading {
	font-family: 'Yeseva One', cursive;
	color: #000;
	margin-bottom:3%;
}
.bbox {
    box-sizing: border-box;
    border: 1px solid #566057;
	margin-bottom: 3%;
}
#content .table-outline {
    border: 1px solid #ccc;
}

#content .qrcode img {
    width: 1.5in;
}

#content .verify {
    margin-top: -10px;
}


@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }
    body {
        background-color: #fff;
    }
    .container, .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #content {
        margin: auto;
    }
}
